html, body, p, h1 {
	margin: 0;
	padding: 0;
}

header {
	background-color: #F79152;
	font-family: 'WildWest', sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: x-large;
}

.txtOral{
	text-align: left;
	font-size: 20px;
	margin-top: 150px;
	margin-left: 10px;
	margin-right: 50%;
	position: absolute;
}

.txtOral h2{
	text-align: center;
}

.txtOral2{
	text-align: left;
	font-size: 20px;
	margin-top: 775px;
	margin-left: 10px;
	margin-right: 50%;
	position: absolute;
}

.txtOral2 h2{
	text-align: center;
}

.imageOral{
	border: 3px;
	border-radius: 6px;
	border-color: #F79152;
	border-style: solid;
	width: 30%;
	margin-left: 65%;
	margin-top: 10px;
	position: absolute;
}

.imageOral2{
	border: 3px;
	border-radius: 6px;
	border-color: #F79152;
	border-style: solid;
	width: 42%;
	margin-left: 55%;
	margin-top: 800px;
	position: absolute;
}

hr {
	border: none;
	position: absolute;
	top: 850px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 5px;
	background-color: #F79152;
	border-radius: 3px;
}